@media (max-width: 640px) { 
    main{
        margin: 1rem;

        form{
            width: 70%;
            padding: 0;
            margin: 0;

            input{
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}
@media (min-width:960px) { 
    body {} 
}
@media (min-width:1100px) {
     body {} 
    }