nav{
    background-color: var(--green-color);
    padding: 10px;
    height: 104px;
    display: flex;
    justify-content: space-between;
    #logo{
        img{
            height: 70px;
            margin: 5px;
            display: inline-block;
        }
    }
    #btn-container{
        display: inline-block;
        div{
            display: inline-block;
            padding: 10px;
            text-align: center;
        }
        img{
            height: 50px;
            width: 50px;
        }
    }
    
}