:root{
    --green-color: #3F813D;
    --hover-green-color: #1f3f1e;
    --greener-color: #3D8160;
    --cream-color: #E9E9AE;
    --grey-color: #DCE0D9;
    --yellow-color: #EBEB13;
    --orange-color: #EB4D13;
}